<div class="right-section">
  <div class="title">Лучший способ оплаты</div>

  <div class="card-container">
    <div class="card-image-wrapper">
      <img src="assets/{{payment.type}}.svg" />
    </div>
    <div>
      <div class="card-product">{{payment.name}}</div>
      <div class="card-amount">{{payment.available}} ₽</div>
    </div>
  </div>
</div>

<div class="left-section">
  <div class="total-amount">{{payment.total}} ₽</div>
  <div class="discount">Скидка {{payment.discount}} ₽</div>
</div>

