:host {
  display: flex;
  /* Shadow / Default */

  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  padding: 20px 16px;
}

.right-section {
  width: 163px;
  display: block;
  flex-direction: column;
}

.left-section {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.card-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.card-image-wrapper {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 32px;
  margin-right: 16px;
}

.card-image {
  display: block;
}

.card-product {
  font-size: 13px;
  line-height: 16px;
}

.total-amount {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

.discount {
  margin-top: 8px;
  background: #10D952;
}

.cashback {
  margin-top: 4px;
  background: #FFDD2D;
}

.discount,
.cashback {
  border-radius: 8px;
  color: #333;
  font-size: 11px;
  line-height: 13px;
  font-weight: 700;
  padding: 1.5px 4px;
}
