:host {
  display: flex;
  background: #F6F7F8;
  border-radius: 24px;
  padding: 16px 20px 0;
  font-size: 17px;
  line-height: 20px;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.title {
  font-weight: 700;
  margin-bottom: 12px;
}

.section {
  display: flex;
  padding: 18px 0;
}

.section:not(:first-child) {
  margin-top: 2px;
}

.section-right-part {
  margin-left: auto;
}

.divider {
  box-sizing: border-box;
  border-bottom: 1px solid #C7C9CC;
  height: 1px;
  margin: 4px -16px;
}

.total-section {
  padding: 15px 0 32px;
  display: flex;
  font-weight: 700;
  position: relative;
}

.cashback {
  background: #ffdd2d;
  border-radius: 8px;
  color: #333;
  font-size: 11px;
  line-height: 13px;
  font-weight: 700;
  padding: 1.5px 4px;
  display: flex;
  align-items: center;
  height: 16px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 40px;
}

.tag-icon {
  margin-right: 2px;
}
