<div class="title">Счет</div>
<div>
    <div class="section">
        <span>Товары</span>
        <span class="section-right-part">{{ quantity }} шт.</span>
    </div>
    <div class="section">
        <span>Сумма</span>
        <span class="section-right-part">{{ summ | tuiFormatNumber }} ₽</span>
    </div>
    <div class="section">
        <span>Скидка</span>
        <span class="section-right-part">{{ discount | tuiFormatNumber }} ₽</span>
    </div>
</div>
<div class="divider"></div>
<div class="total-section">
    <span>Итого</span>
    <span class="section-right-part">{{ calculateTotal() | tuiFormatNumber }} ₽</span>
    <div class="cashback" *ngIf="cashback">
        <img class="tag-icon" src="assets/crown.svg"/>
        Кэшбек {{ cashback | tuiFormatNumber }} ₽
    </div>
</div>

