<div class="tui-container tui-container_adaptive tui-space_top-3 tui-space_bottom-5">
  <div class="tui-text_h3">Сканирование товара</div>
  <div class="tui-text_h4 tui-space_top-6">ИП Коркунов Илья Владимирович</div>
  <table class="tui-table tui-space_top-6">
    <tbody>
    <tr class="tui-table__tr tui-table__tr_border_none">
      <th class="tui-table__th">Название продукта</th>
      <th class="tui-table__th">Стоимость</th>
      <th class="tui-table__th">Количество</th>
      <th class="tui-table__th">Итог</th>
      <th class="tui-table__th tui-table__th_last">Удалить</th>
    </tr>
    <tr *ngFor="let item of items;" class="tui-table__tr tui-table__tr_border_none">
      <td class="tui-table__td">{{item.name}}</td>
      <td class="tui-table__td">{{item.price}} ₽</td>
      <td class="tui-table__td">{{item.quantity}}</td>
      <td class="tui-table__td">{{ calculateTotal(item) }} ₽</td>
      <td class="tui-table__td tui-table__td_last">
        <button
          tuiIconButton
          appearance="flat"
          size="s"
          icon="tuiIconTrash"
          title="Remove"
          shape="rounded"
          class="remove"
          (click)="remove(item)"
        ></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="tui-container tui-container_adaptive tui-space_top-2 tui-space_bottom-4">
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col-10">
      <form [formGroup]="form">
        <div class="tui-text_body-l tui-space_left-10 tui-space_top-2">
          <div>Название продукта</div>
          <tui-input formControlName="name">
          </tui-input>
        </div>
        <div class="tui-text_body-l tui-space_left-10 tui-space_top-2">
          <div>Стоимость</div>
          <tui-input-number formControlName="price">
          </tui-input-number>
        </div>
        <div class="tui-text_body-l tui-space_left-10 tui-space_top-2">
          <div>Количество</div>
          <tui-input-number formControlName="quantity">
          </tui-input-number>
        </div>
      </form>
    </div>
  </div>

  <div class="tui-row">
    <div class="tui-col-2">
      <button class="tui-space_left-7 tui-space_top-6"
              tuiButton
              size="m"
              type="button"
              (click)="addProduct()"
              [disabled]="!form.valid">
        Добавить продукт
      </button>
    </div>
    <div class="tui-col-2">
      <button class="tui-space_left-2 tui-space_top-6"
              tuiButton
              size="m"
              type="button"
              (click)="genQr()">
        Сгенерировать QR-код
      </button>
    </div>
  </div>
</div>

<qrcode *ngIf="gen" [qrdata]="url" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
