<app-shop [shop]="basket.sellerInfo" class="shop"></app-shop>
<app-check class="check" [total]="basket.total" [best]="pay"></app-check>
<app-basket-button class="tui-space_top-3" (click)="gotoBasket()"></app-basket-button>
<app-best-payment-option class="best-payment-option"
                         [payment]="bestPayment"
                         (click)="selectedPayment=0; pay=basket.payMethods[0].total"
                         [style.color]="selectedPayment==0?'white':'black'"
                         [style.background]="selectedPayment==0?'#428bf9':'white'"
></app-best-payment-option>
<div class="tui-text_h6 tui-space_top-5">Другие способы оплаты</div>
<div *ngFor="let payment of payments; let index = index">
  <app-payment class="tui-space_top-3"
               [payment]="payment"
               (click)="selectedPayment=index+1; pay=basket.payMethods[index+1].total"
               [style.color]="selectedPayment==index+1?'white':'black'"
               [style.background]="selectedPayment==index+1?'#428bf9':'white'"></app-payment>
</div>
<div class="tui-space_top-6">
  <app-payment-button [amount]="pay" (click)="requestPay()"></app-payment-button>
</div>
<router-outlet></router-outlet>
