:host {
  display: flex;
  height: 857px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  padding: 18px 16px 0;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #428bf9;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 16px;
}

.date {
  text-align: center;
  font-weight: 600;
}

.shop {
  margin-top: 40px;
}

.check {
  margin-top: 20px;
}

.best-payment-option {
  margin-top: 32px;
}

.bucket {
  margin-top: 32px;
}

.selected {
  background: #428bf9;
  color: white;
}

.default {

}
