<p class="tui-text_h4 tui-space_top-3 tui-space_bottom-3" style="margin: 100px 50px">
  Покупка оплачена
</p>
<img src="/assets/img_1.png"/>
<p class="check tui-text_body-xl">
  Чек выслан на почту
</p>
