:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  isolation: isolate;
}

.check {
  display: flex;
  align-items: center;
  text-align: center;

  /* Day/Text/link */
}
