<div class="tui-space_top-4"></div>
<span class="tui-text_body-xl" style="margin-top: 10px">Корзина</span>
<app-basket-list [basketlist]="basketlist" style="margin-top: 40px"></app-basket-list>
<app-basket-bill style="margin-top: 28px" [basket]="basket"></app-basket-bill>
<app-payment-button [amount]="basket.payMethods[0].total" (click)="requestPay()" style="margin-top: 40px"></app-payment-button>



