:host {
  display: block;
  width: 100%;
}

.item {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
}

.main-row {
  font-size: 17px;
  line-height: 20px;
  display: flex;
}

.secondary-row {
  margin-top: 4px;
  display: flex;
}

.total {
  margin-left: auto;
}

.discount,
.cashback {
  border-radius: 8px;
  color: #333;
  font-size: 11px;
  line-height: 13px;
  font-weight: 700;
  padding: 1.5px 4px;
}

.per-item {
  font-size: 13px;
  line-height: 16px;
  color: #9299a2;
}

.tags {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.discount {
  background: #10d952;
  margin-left: 4px;
}

.cashback {
  background: #ffdd2d;
}

.discount,
.cashback {
  border-radius: 8px;
  color: #333;
  font-size: 11px;
  line-height: 13px;
  font-weight: 700;
  padding: 1.5px 4px;
  display: flex;
  align-items: center;
}

.tag-icon {
  margin-right: 2px;
}
