<div *ngFor="let item of basketlist" class="item">
  <div class="main-row">
    <div>{{ item.name }}</div>
    <div class="total">{{ calculateTotal(item) | tuiFormatNumber }} ₽</div>
  </div>
  <div class="secondary-row">
    <div class="per-item">{{ item.quantity }} x {{ item.price | tuiFormatNumber }} ₽</div>
    <div class="tags">
      <div class="cashback" *ngIf="item.cashback">
        <img class="tag-icon" src="assets/crown.svg"/>
        Кэшбек {{ item.cashback | tuiFormatNumber }} ₽
      </div>
      <div class="discount" *ngIf="item.discount">
        <img class="tag-icon" src="assets/check.svg"/>
        Скидка {{ item.discount | tuiFormatNumber }} ₽
      </div>
    </div>
  </div>
</div>
