:host {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.check {
  font-size: 16px;
  line-height: 19px;
  color: #9299a2;
}

.to-pay {
  margin: 4px 0 -2px;
}

.amount {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
}
