:host {
  display: flex;
  width: 90px;
  height: 70px;
  background: rgba(66, 139, 249, 0.08);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  margin-top: 8px;
  font-size: 12px;
  line-height: 14px;
  color: #428bf9;
}
